[submodule "xg279q-control"]
	path = xg279q-control
	url = git@github.com:Auliyaa/xg279q-control.git
[submodule "linux/oh-my-bash"]
	path = linux/oh-my-bash
	url = https://github.com/ohmybash/oh-my-bash.git
