linux/endeavouros/config/discord/*
!linux/endeavouros/config/discord/settings.json
linux/endeavouros/config/kde.org/*
linux/endeavouros/config/kdeconnect/*
linux/endeavouros/config/libaccounts-glib/*
linux/endeavouros/config/Code/*
!linux/endeavouros/config/Code/Preferences
linux/endeavouros/config/GitKraken/*
!linux/endeavouros/config/GitKraken/Preferences
linux/endeavouros/config/OpenRGB/logs/
linux/endeavouros/config/unity3d/Two Point Studios/
linux/endeavouros/config/Motrix/*
!linux/endeavouros/config/Motrix/Preferences
linux/endeavouros/config/gtkrc
linux/endeavouros/config/gtkrc-2.0
linux/endeavouros/config/JetBrains/
linux/endeavouros/config/QtProject.conf
linux/endeavouros/config/obs-studio/
linux/endeavouros/config/qBittorrent/
linux/endeavouros/config/qBittorrentrc
linux/endeavouros/config/kactivitymanagerd-statsrc
linux/endeavouros/config/dconf/user
linux/endeavouros/config/okularrc
linux/endeavouros/config/plasma-org.kde.plasma.desktop-appletsrc
linux/endeavouros/config/kate-externaltoolspluginrc
linux/endeavouros/config/katerc
linux/endeavouros/config/katevirc
linux/endeavouros/config/Pinta/
linux/endeavouros/config/kconf_updaterc
linux/endeavouros/config/gwenviewrc
linux/endeavouros/config/Olympus/
linux/endeavouros/config/suyu/
linux/endeavouros/config/vlc/
linux/endeavouros/config/kwriterc
linux/endeavouros/config/mimeapps.list
linux/endeavouros/config/systemmonitorrc
linux/endeavouros/config/session/dolphin_dolphin_dolphin
linux/endeavouros/config/vesktop/
linux/endeavouros/config/audacity/
linux/endeavouros/config/katemetainfos
linux/endeavouros/config/simple-update-notifier/
linux/endeavouros/config/suura-guirc
linux/endeavouros/config/heroic/
linux/endeavouros/config/kate/
linux/endeavouros/config/YouTube Music for Desktop/
linux/endeavouros/config/YouTube Music Desktop App/
linux/endeavouros/config/Fritzing/
linux/endeavouros/config/Insomnium/
linux/endeavouros/config/mozilla/

linux/endeavouros/config/session/
