linux/bin/usbreset
linux/Pictures/Screenshots/
linux/config/endeavouros/discord/*
linux/!config/endeavouros/discord/settings.json
linux/config/endeavouros/kde.org/*
linux/config/endeavouros/kdeconnect/*
linux/config/endeavouros/libaccounts-glib/*
linux/config/endeavouros/Code/*
linux/!config/endeavouros/Code/Preferences
linux/config/endeavouros/GitKraken/*
linux/!config/endeavouros/GitKraken/Preferences
linux/config/endeavouros/OpenRGB/logs/
linux/config/endeavouros/unity3d/Two Point Studios/
linux/config/endeavouros/Motrix/*
linux/!config/endeavouros/Motrix/Preferences
linux/config/endeavouros/gtkrc
linux/config/endeavouros/gtkrc-2.0
linux/config/endeavouros/JetBrains/
linux/config/endeavouros/QtProject.conf
linux/config/endeavouros/obs-studio/
linux/config/endeavouros/qBittorrent/
linux/config/endeavouros/qBittorrentrc
linux/config/endeavouros/kactivitymanagerd-statsrc
linux/config/endeavouros/dconf/user
linux/config/endeavouros/okularrc
linux/config/endeavouros/plasma-org.kde.plasma.desktop-appletsrc
linux/config/endeavouros/kate-externaltoolspluginrc
linux/config/endeavouros/katerc
linux/config/endeavouros/katevirc
linux/config/endeavouros/Pinta/
linux/config/endeavouros/kconf_updaterc
linux/config/endeavouros/gwenviewrc
linux/config/endeavouros/Olympus/
linux/config/endeavouros/suyu/
linux/config/endeavouros/vlc/
linux/config/endeavouros/kwriterc
linux/config/endeavouros/mimeapps.list
linux/config/endeavouros/systemmonitorrc
linux/config/endeavouros/session/dolphin_dolphin_dolphin
linux/config/endeavouros/vesktop/
linux/config/endeavouros/audacity/
linux/config/endeavouros/katemetainfos
linux/config/endeavouros/simple-update-notifier/
linux/config/endeavouros/suura-guirc
linux/config/endeavouros/heroic/
linux/config/endeavouros/kate/
linux/config/endeavouros/YouTube Music for Desktop/
linux/config/endeavouros/YouTube Music Desktop App/
linux/config/endeavouros/Fritzing/
linux/config/endeavouros/Insomnium/